@media (min-width: 400px) {
    .media container {
        color: red;
    }
    
    .blue, .green {
        display: none;
    }
}

@media (min-width: 450px) {
    .media container {
        color: blue;
    }
    
    .red, .green {
        display: none;
    }
    
    .blue {
        display: inline;
    }
}

@media (min-width: 500px) {
    .media container {
        color: green;
    }
    
    .blue, .red {
        display: none;
    }
    
    .green {
        display: inline;
    }
}